<% content_for :subtitle do %>
  <div> ...with a name .com hipsters love</div>
<% end %>

<% content_for :nav do %>
  <div>
    <div class="column fr"> <%= link_to image_tag("add.png"), new_article_path %>
    <%= link_to (tooltip "Create an Article", { :tooltip => 'you know you need to' },
                                                    :class => 'mytooltip'), new_article_path %>
    </div>  
    <div class="column"><h2>All the World's Articles</h2></div>
  </div>
<% end %>
  
<% if notice %>
<p id="notice">
<%= notice %></p>
<% end %>

<table>
  <tr class="list_header" >
    <th class="article_table" >Title</th>
    <th class="article_table">Author Name</th>
    <th class="article_table">Body</th>
    <th class="article_table center_align">Creation Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr class="<%= cycle( 'list_line_odd', 'list_line_even') %> listing_articles" >
    <td class="article_table"><%= article.title %></td>
    <td class="article_table"><%= article.name %></td>
    <td class="article_table"><%= truncate(strip_tags(article.content), length: 30) %></td>
    <td class="article_table"><%= article.created_at.strftime('%A, %b. %d %Y') %></td>
    <td><%= link_to (tooltip (image_tag("zoom.png")), { :tooltip => 'View Article' },
                                                    :class => 'mytooltip'), article %></td>
    <td><%= link_to (tooltip (image_tag("page_edit.png")), { :tooltip => 'Edit Article' },
                                                    :class => 'mytooltip'), edit_article_path(article) %></td>
    <td><%= link_to (tooltip (image_tag("delete.png")), { :tooltip => 'Delete Article' },
                                                             :class => 'mytooltip'), article, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<p><%= pluralize(@articles.count, "article") %></p>

<br />

