<% content_for :subtitle do %>
  <div class="general_subtitle"> ...what's "Articl" in Spanish anyway?</div>
<% end %>

<% content_for :nav do %>
  <ul>
    <li> <%= link_to articles_path, title: "List all Articles" do %>
      <%= image_tag("arrow_left.png") %>
      list all articles
      <% end %></li>
    <li><%= link_to edit_article_path(@article), title: "Edit Article" do %>
        <%= image_tag("page_edit.png") %>
        Edit
        <% end %></li>
    <li><%= link_to @article, confirm: 'Are you sure?', method: :delete,
                              title: "Delete Article" do %>
        <%= (image_tag("delete.png")) %>
        Delete Article
        <% end %></li>
   <li><%= mail_to "me@domain.com", image_tag("email.png"), 
                                    title: "Email the Creator",
                                    :encode => "javascript", 
                                    :subject => @article.title %>
       <%= mail_to "me@domain.com", "Email", title: "Email the Creator",
                                    :encode => "javascript",
                                    :subject => @article.title %></li>
</ul>
<% end %>

<p id="notice"><%= notice %></p>

<h2><%= @article.title %></h2>
<p>by <%= @article.name %>.  
     <%= pluralize(@article.count, "edit") %>
   since <%= @article.created_at.strftime('%b. %d %Y') %>.
</p>

<p class="before_content_padding">
  <%= @article.content %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
