-content_for :subtitle do
  .general_subtitle= "...he who shall be named"

%p
  #notice
  = notice

%h2
  = @author.name
  %p.before_content_padding
  = image_tag @author.photo.url

%h3.before_content_padding
  Articles created by #{@author.name}
- @author.articles.each do |p|
  %li= link_to p.title, p, title: "View article"
%br

= link_to 'Edit', edit_author_path(@author) |
= link_to 'Back', authors_path
