<!DOCTYPE html>
<html>
<head>
  <title>Articles</title>
  <%= stylesheet_link_tag    "reset", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <header class="center_align">
    <h1>Articl.es</h1>
    <p class="padded_to_fit_h1"><%= yield :subtitle %></p>
  </header>
  <%= yield :nav %>

<%= yield %>

</body>
</html>