-content_for :subtitle do 
  .home_page_subtitle= "...with a name .com hipsters love"

-content_for :nav do
  %table.home_page_header_padding
    %tr
      %td
        %h2 All the World's Articles
      %td 
        =link_to new_article_path, title: "Create Article" do
          =image_tag("add.png")
          Create an Article
      %td
        =link_to authors_path, title: "All Article Authors" do
          =image_tag("rosette.png")
          List Authors

-if notice
  %p{ :id => notice }
  =notice

%p= will_paginate @articles, :class => 'pagination_style'

%table
  %tr.list_header
    %th.article_table.table_header== Title
    %th.article_table.table_header== Author Name
    %th.article_table.table_header== Body
    %th.article_table.center_align.table_header== Creation Date
    %th.image_color
    %th.image_color
    %th.image_color
 
  -@articles.each do |article|
    %tr{ :class => cycle('list_line_odd', 'list_line_even')} 
      .listing_articles
        %td.article_table= article.title
        %td.article_table= Author.find(article.author_id).name
        %td.article_table= truncate(strip_tags(article.content), length: 30)
        %td.article_table= article.created_at.strftime('%A, %b. %d %Y')
        %td.image_color= link_to image_tag("zoom.png"), article, title: 'View Article'
        %td.image_color= link_to image_tag("page_edit.png"), edit_article_path(article), title: 'Edit Article'
        %td.image_color= link_to (tooltip (image_tag("delete.png")), { :tooltip => 'Delete Article' }, :class => 'mytooltip'), article, confirm: 'Are you sure?', method: :delete

%p.home_page_number_articles_padding= pluralize(@articles.count, "article")

%br

%p=will_paginate @articles, :class => 'pagination_style'
